/* ------------------------------
   PALETA DE COLORES
------------------------------ */
:root {
  --siena-tostado: #A0522D;
  --verde-salvia: #87A96B;
  --alabastro-calido: #F5E6D3;
  --vara-de-oro: #D4A437;
  --rosa-polvoriento: #C47A6D;
  --gris-suave: #f9f9f9;
  --texto-principal: #333;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--alabastro-calido);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--texto-principal);
}

.App-link {
  color: var(--siena-tostado);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
